body{
	font-family: 'georgia'
}
.encabezado{
	height: 100px;
	background-color: #0f6ce6;
}
.logo{
	height: 60%;
	margin-top: 20px;
	margin-left: 7px;
}
.titulo{
	font-size: 50px;
	color: white;
	margin-top: 28px;
	text-align: center;
}
.redes{
	margin-top: 60px;
	padding-left: 10px;
	text-align: center;
}
.logo-redes{
	height: 15px;
	padding-left: 8px;
}
.barra{
	background-color: black;
	height: 50px;
	text-align: center;
	font-size: 100%;
}
.nav-item{

}
.nav-item a:hover{
	color: #0f6ce6;
}
.boton{
	color: white;
}
.article{
	background: white;
	margin-top: 10px;
}
.article-title{
	font-size: 100%;
	font-weight: bolder;
}
.image{
	margin-left: -10px;
}
.article-img{
	border-radius: 10px;
	width: 100%;
}
.article-text{
	margin-top: 10px;
	margin-right: 5px;
	font-size: 100%;
}
.article-text a{
	font-size: 0.8em;
	color: #0f6ce6;
}
.buscador{
	margin-top: 10px;
}
.eleccion{
	padding-top: 10px;
}
.comentarios{
	padding-left: 0;
}
.busqueda{
	background: #0f6ce6;
}
.opciones{
	color: white;
}
.elecciones{
	padding-left: 10px;
}
.elegir{
	padding-right: 1px;
	padding-left: 10px;
}
.video{
	margin-top: 80px;
	width: 100%;
	height: auto;
}
@media (min-width: 421px) and (max-width: 1024px){
	.titulo{
		font-size:30px;
	}
}